# IDEs
.vscode/

# Ignore default config file for testing
config.toml

# Ignore the built binary during testing
/authnds

# Ignore generated certs in this folder
/ssl

# Built binaries
/bin
/debug

# Others
.*.swp
*~